*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: sans-serif;
}
body
{
  background: url('8.jpeg') no-repeat top center;
  background-size: cover;
  height: 100vh;
}

.wrapper
{
  position: absolute;
  top: 50%;
  transform:translateY(-50%);
  width: 100%;
  padding: 0 20px;
  background: transparent;
}
.contact-form
{
  max-width: 550px;
  margin: 0 auto;
  background: rgb(0,0,0,8);
  padding: 30px;
  border-radius: 5px;
  display: flex;
  box-shadow: 0 0 10px;
  opacity: 0.7;
}

.input-fields{
  display: flex;
  flex-direction: column;
  margin-right: 4%;
  background: transparent;

}
.input-fields
.msg{
  width: 48%;
  
}

.input-fields .input,
.msg textarea{
  margin: 10px 0;
  background: transparent;
  border: 0;
  border-bottom: 2px solid #c5ecfd;
  padding: 10px;
  color: #c5ecfd;
  width: 100%;

}
.msg textarea{
 height: 212px;
}

::-webkit-input-placeholder{
  color: #c5ecfd;
}

::-moz-input-placeholder{
  color: #c5ecfd;
}

.r{
  background: blue;
  text-align: center;
  padding: 15px;
  border-radius: 5px;
  cursor: pointer;
  text-transform: uppercase;
  color: #c5ecfd;
}

@media screen and (max-width:600px)
{
  .contact-form
  {
    flex-direction: column;
  }
  .msg textarea{
    height: 70px;

  }
  .input-fields,
  .msg{
    width: 100%;
  }
}

fieldset{
  background: transparent;
}

.logo
{
  width: 100px;
  height: 100px;
  border-radius: 50%;
  position: absolute;
  top: -50px;
  left: calc(50% --50px);
}

.loginbox{
  width: 120px;
  height: 220px;
  background: #000;
  color: #fff;
  top:50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%,-50%);
  box-sizing: border-box;

}