
nav ul li a:hover{
    /* color: rgb(177, 73, 73); */
    font-weight: bolder;
}
.search{
    display: absolute;
    float: right;
}

/* .navbar{
    color: antiquewhite;
} */
.card {
    max-width: 93vw;
    margin: 37px auto;
    font-family: 'Ubuntu', sans-serif;
}
.logo{
    height: 50px;
    width: 50px;
    /* background-color:#C689C6 ; */
}
nav{
    background-color: #0F3460;
}
/* #34eb55 */
/* #20c997 */


/* .container-fluid{
    padding: 3% 15%;
}

h1{
    font-family: 'Montserrat-Black', sans-serif;
    font-size: 3.5rem;
    line-height: 1.5;
}
/* h1 {  font-family: 'Montserrat, sans-serif'; 
     font-size: 3rem;  
     line-height: 1.5;  
     font-weight: 900;
    } */

/* Navigation bar */
/* .navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
} */

/* .navbar{
    padding:0 0 4.5rem;
} */

/* .nav-item{
    padding: 0px 18px;
} */

/* download-button */
/* .download-button{
    margin: 5% 3% 5% 0;
} */

/* .title-image{
    width: 60%;
    transform: rotate(25deg);
}  */